
body{
    margin: 0;
    position: relative;
    
    
}


.layout{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(12,1fr);
    
}


 
.sidebar{
    display: block;
    width: 16.667vw;
    height: 100vh;
    border-right: 1px solid #756f68;
    position: fixed; 


}

.Sidebar_menu{
    margin: 0;
}

.SidebarHeader-logo{
    border-bottom: 1px solid #756f68;
    display: flex;
    padding: 43px 0 44px;
   justify-content: center;
    align-items: center;
}

.ColorPallete{
    position: absolute;
    margin-top: -500px;
    margin-left: 280px;
  }

.coloritslf{
    margin-top: 50px;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.coloritslfbrad{
    margin-top: 370px;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;  
}

.Text1{
    padding: 20px;
    mix-blend-mode: difference;

}




.Title{
    margin-left: 250px;
}
.titlebrand{
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
}


  .hidden{
    visibility: hidden;
  }

#logoUpload
{   
    visibility: hidden;
    user-select: none;
}

#logoPreview{
    width: 64px;
    height: 58px;
    vertical-align: middle;   
   
}

.edit-icon{
    width: 24px;
    height: 18px;
}

#duplicate{
    font-size: 16px;
    border-bottom: 1px solid #756f68;
    padding: 34px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.Sidebar_menu{
    padding: 0;
    margin-bottom: 0;
}
.sidebar_item{
    font-size: 16px;
    border-bottom: 1px solid #756f68;
    padding: 24px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.sidebar_button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }

#duplicate{
    font-size: 16px;
    border-bottom: 1px solid #756f68;
    padding: 24px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.sidebarbtns{
    bottom: 0;
    position: fixed;
}
.sidebarduplicate{
    bottom: 35px;
    position: fixed;
   padding-left: 114px;
   padding-right:114px;
   
   font-size: 50px;
   border-top: 1px solid #756f68;
   cursor: pointer;
    
}
.container{
    
    grid-column: 3/-1;
}
.intro{
    
    display: flex;
    flex-direction: column;
    grid-column: 6/7;
    justify-content: space-around;
    align-items: center;
 
    
}

.introbrand {
    display: flex;
    flex-direction: column;
    grid-column: 4/9;
    justify-content: space-around;
    align-items: center;
}

.Header{   
    margin-left: 1px;
    display: grid;
    grid-column: 3/-1;
    height: 145px;
    border-bottom: 1px solid #756f68;
}

.Header h1{
    display: grid;
    grid-column:5 ;
    justify-content: center;
    align-items: center ;
    margin-left: 48px;
}

.google-translate{
    display: grid;
    grid-column: 9;
    justify-content: center;
    align-content: center ;
}
#google_translate_element select{

    background-color:#f6edfd;
    color:#383ffa;
    border: none;
    border-radius:3px;
    padding:6px 8px
  }
  .goog-logo-link{
    display:none!important;
   }
  .goog-te-gadget{
  color:transparent!important;
  } 
  .goog-te-banner-frame{
  /* display:none !important; */
  }
  
  #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
 .goog-text-highlight { background: none !important; box-shadow: none !important;}

.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
}

.content h1{
    grid-column: 6/9;
    
}

.content p{
    grid-column: 4/10;
    justify-content: center;
    margin-top:0 ;
    
}

#head{
    width: 250px ;
    height: 50px;
}

#para{
    width: 450px ;
    height: 150px; 
}

#app {
    position: relative;
    margin-top:60px;
    margin-left:120px;
    width: 70%;
   
}

#app1{
    margin-top:5px;
    margin-left: 50px;
    visibility: visible;
}

#fontchange{
    visibility: hidden;
    float: right;
   
}






/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 10px;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}


.effect-8{border: 1px solid #ccc; padding: 7px 14px 9px;}

.introdash{
    margin-left: 200px;
}

.previewbarndguide{
    margin-left: 10px;
}
 
.previewbarndguide a{
  text-decoration: none;
  color: white;
}


/* CSS-only info box on hover
 * Ken Sparby, @kensparby */


 

 .hover-container {
   position: absolute;
   margin-top: 0;
   margin-left: 10px;
 }
 
 .hover-target {
   position: relative;
   font-size: 2rem;
 }
 
 .hover-popup {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   top: 70%;
   left: 5%;
   width: 50ch;
   margin: min(1rem, 20px);
   font-size: .8rem;
   background-color: #fff;
   border-radius: 8px;
   padding: 1.5em;
   z-index: 42;
   transform: scale(0);
   transition: transform 200ms ease;
   transform-origin: 8.2% -10px;
 }
 
 .hover-target:hover + .hover-popup,
 .hover-target:focus + .hover-popup,
 .hover-popup:hover{
   transform: scale(1);
 }
 
 .hover-popup :not(:first-child) {
   margin-top: 1rem;
 }
 
 .hover-popup span {
   color: rgb(200, 20, 0);
   font-weight: 700;
 }
 
 .hover-popup::before {
 /* This is the triangle/arrow */
   content: '';
   position: absolute;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #fff;
   top: -10px;
 }
 
 .hover-popup::after {
   /* This is merely here to expand the hoverable area, as a buffer between the "Hover me" text and the popup. */
   content: '';
   position: absolute;
   top: -1rem;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
 }
 
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-delay: -1ms !important;
     animation-duration: -1ms !important;
     animation-iteration-count: 1 !important;
     background-attachment: initial !important;
     scroll-behavior: auto !important;
     transition-duration: 0s !important;
     transition-delay: 0s !important;
   }
 }